@model WizardsWeb.ModelViews.HeroModelViews.Properties.HeroBasicsModelView

<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h5 class="my-0 font-weight-bold">
                        HERO CARD INFORMATION
                    </h5>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                <h4>Hero name:</h4>
                <h3>@Model.NickName</h3>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div class="col-md-12">
                    <img src="~/@Model.AvatarImageAddress" width="100%" height="100%" />
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div class="row align-middle">
                    <div class="col-sm">
                        <h4>Hero profession:</h4>
                    </div>
                    <div class="col-sm">
                        <h3>@Model.Profession.ToString()</h3>
                    </div>
                    <div class="col-sm">
                        <img src="~/@Model.ProfessionImageAddress" width="100" height="100" />
                    </div>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div class="col-md-12">
                    <div class="btn-group btn-block">
                        <a class="btn btn-outline-primary" asp-action="EditNickName">
                            Edit Name
                        </a>
                        <a class="btn btn-outline-primary" asp-action="EditAvatar">
                            Edit Avatar
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div class="col-md-12">
                    <div class="btn-group btn-block">
                        <a class="btn btn-outline-info" asp-controller="Player" asp-action="Details">
                            Back to Player details
                        </a>
                    </div>
                </div>
            </li>


        </ul>
    </div>
</div>
