@model WizardsWeb.ModelViews.HeroModelViews.Properties.HeroSummaryModelView

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item justify-content-center bg-paper-header">
                <div class="text-center">
                    <h4 class="my-0 font-weight-bold">
                        Hero Summary
                    </h4>
                </div>
            </li>
            
            <li class="list-group-item d-flex justify-content-between bg-paper-color">
                <label class="font-weight-bolder h4" asp-for="HerosAvargeItemTier"></label>
                <span class="font-weight-bolder h3">@($"{Model.HerosAvargeItemTier:##0.00}")</span>
            </li>

            <li class="list-group-item d-flex justify-content-between bg-paper-color">
                <label class="h5" asp-for="Gold"></label>
                <span class="font-weight-bold h5">@($"{Model.Gold:##,##0}")</span>
            </li>
        </ul>
    </div>
</div>


@*<h4>Hero's Summary</h4>
<hr />
<div class="col-md-12">
    <div class="row">
        <div class="col-md-7">
            <label class="align-content-center" asp-for="HerosAvargeItemTier"></label>
        </div>
        <div class="col-md-5">
            <h5><span class="font-weight-bold">@($"{Model.HerosAvargeItemTier:##0.00}")</span></h5>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <label asp-for="Gold"></label>
        </div>
        <div class="col-md-5">
            <span class="font-weight-bold">@($"{Model.Gold:##,##0}")</span>
        </div>
    </div>
    <hr />
</div>*@
