@model WizardsWeb.ModelViews.HeroModelViews.HeroCreateModelView

@{
    ViewData["Title"] = "Create Hero";
}

<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between bg-paper-color">
                <div>
                    <h4 class="my-0 font-weight-bold">
                        Create
                    </h4>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between bg-paper-color">
                <div>
                    <h5 class="my-0 font-weight-bold">
                        Name your hero
                    </h5>
                </div>
            </li>
        </ul>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between bg-paper-color">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="AvatarImageNumber" hidden="true" />
                    <input asp-for="Profession" hidden="true" />
                    <div class="form-group">
                        <label asp-for="NickName" class="control-label font-weight-bold"></label>
                        <input asp-for="NickName" class="form-control" />
                        <span asp-validation-for="NickName" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <input type="submit" value="Create Hero" class="btn btn-outline-primary btn-block" />
                    </div>
                </form>
            </li>


            <li class="list-group-item d-flex justify-content-between bg-paper-color">
                <form asp-action="SetAvatarView">
                    <div class="form-group">
                        <input asp-for="AvatarImageNumber" hidden="true" />
                        <input asp-for="Profession" hidden="true" />
                        <div class="btn-group btn-block">
                            <input type="submit" value="Back" class="btn btn-outline-warning" />
                            <a class="btn btn-outline-danger" asp-controller="Player" asp-action="Details">Leave Creator</a>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}