@model WizardsWeb.ModelViews.HeroDetailsModelView

@{
    ViewData["Title"] = $"{Model.Basics.NickName}";
}

<div class="row">
    <div class="col-md-5">
        <partial name="_HeroBasicPresentation" model="@Model.Basics" /><br />
        <div class="btn-group">
            <a class="btn btn-primary" asp-action="EditNickName">
                Edit Name
            </a>
            <a class="btn btn-primary" asp-action="EditAvatar">
                Edit Avatar
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <a type="button" class="btn btn-warning" asp-controller="Inventory" asp-action="Index">Equipment</a><br /><br />
        <a type="button" class="btn btn-warning" asp-action="Merchant">Merchant</a><br /><br />
        <a type="button" class="btn btn-warning" asp-controller="Player" asp-action="Details">Back to Hero choice</a><br /><br />
        <a type="button" class="btn btn-warning disabled" asp-action="ArenaPvP">PvP Arena</a><br /><br />
    </div>
    <div class="col-md-4">
        <partial name="_HeroAttributes" model="Model.Attributes" /><br /><br />
        <partial name="_HeroStatistics" model="Model.Statistics" />
    </div>
</div>