@model WizardsWeb.ModelViews.Inventory.HeroItemDetailsModelView

<div class="row p-2">
    <div class="col-12 text-left">
        <label class="m-0 p-0 font-weight-lighter" asp-for="Endurance"></label>
    </div>
    <div class="col-12">
        <partial name="_EnduranceBar" model="@Model"/>
    </div>
    @if (Model.NeedsRepair())
    {
        <div class="col-md-6 text-left">
            <label class="m-0 p-0" asp-for="RepairCost"></label>
        </div>
        <div class="col-md-6 text-right">
            <label class="m-0 p-0 font-weight-bold">@($"{Model.RepairCost:##,##0} Gold")</label>
        </div>
        <div class="col-12 p-1">
            <button class="btn btn-info btn-sm btn-block" data-bs-target="#repair-item-@Model.Id" data-bs-toggle="modal">Repair Item</button>
        </div>
    }
    <div class="col-12">
        <hr />
    </div>
    <div class="col-md-6 text-left">
        <label class="m-0 p-0" asp-for="SellPrice"></label>
    </div>
    <div class="col-md-6 text-right">
        <label class="m-0 p-0 font-weight-bold">@($"{Model.SellPrice:##,##0} Gold")</label>
    </div>
    <div class="col-12">
        <hr />
    </div>
</div>