@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wizards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>

<style>
    .bg-brown {
        background-color: #482001;
    }

    .bg-leather {
        background-color: #341d0b;
    }

    .bg-paper-color {
        background-color: #ffefd8;
    }

    .bg-paper-header {
        background-color: #ffe0a3;
    }

    .text-golden-dark {
        color: #a47c01;
    }

    .btn-outline-warning {
        color: #cd9500;
    }
</style>


<body class="bg-leather">
    <div class="cover-container d-flex w-100 h-100 mx-auto bg-brown flex-column">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-brown text-white box-shadow">
                <div class="container">

                    <img src="~/Images/logo.png" class="img-responsive" alt="Site Logo" style="height:75px; width: auto" />


                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 ">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary disabled" asp-area="" asp-controller="News" asp-action="Index">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary disabled" asp-area="" asp-controller="About" asp-action="Index">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary disabled" asp-area="" asp-controller="Authors" asp-action="Index">Authors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Search" asp-action="Index">Ranking</a>
                            </li>
                        </ul>

                        <partial name="_LoginPartial" />

                    </div>
                </div>
            </nav>
        </header>

        <div class="container-fluid bg-leather d-flex w-100 h-100 p-3 mx-auto flex-column">

            <div class="container">
                @RenderBody()
            </div>

        </div>

        <footer class="footer mt-auto text-golden-dark bg-brown box-shadow">
            <div style='text-align:center'>
                &copy; 2022 - WizardsWeb - <a href="https://github.com/infoshareacademy/jcszr6-wizards.git" target="_blank"> GIT Repository</a> Ver. 2.0
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>