@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row p-0 m-0 my-4 static-image-not-dragable">
    <div class="col-3"></div>
    <div class="col-6 rounded bg-paper-color p-3">
        <div class="text-center">
            <hr/>
            <img src="/Images/logo.png" width="350px" height="auto"/>
            <h1> &copy; Wizards Team </h1>
            <hr/>
        </div>
        <div class="text-left" style="padding: 25px 100px 25px 100px">
            <h5>.NET / C# Developers</h5>
            <ul>
                <li>Paweł Dawicki</li>
                <li>Paweł Grajnert</li>
                <li>Jakub Oczko</li>
                <li>Adrian Zamysłowki</li>
            </ul>

            <h5>Music by:</h5>
            <ul>
                <li>Paweł Tomasz Grajnert</li>
            </ul>

            <h5>Front-end concept and composition:</h5>
            <ul>
                <li>Paweł Dawicki</li>
                <li>Paweł Grajnert</li>
            </ul>
            
            <h5>Testers</h5>
            <ul>
                <li>Jakub Oczko</li>
                <li>Adrian Zamysłowki</li>
            </ul>
            
            <h5>Game content designer:</h5>
            <ul>
                <li>Paweł Tomasz Grajnert</li>
            </ul>

            <h5>Our Team Coach and project Supervisor:</h5>
            <ul>
                <li>Wojciech Olszewski</li>
            </ul>

            <h5>Used Main Technologies:</h5>
            <ul>
                <li>ASP.NET / C# / MVC Web application</li>
                <li>SQL Database / Entity Framework Core</li>
                <li>Html / Bootstrap / Java script  Layout</li>
                <li>ASP.NET Identity</li>
                <li>Rest API</li>
            </ul>

        </div>
        <div style="padding: 25px 150px 20px 150px">
            <hr/>
            <h5 style="font-size: 16px;">Team Statement</h5>
            <span style="font-size: 12px; font-style: italic; text-align: justify-all">
                As for educational purpose of this game we admit that we have no rights for commercial usage of most graphic assets we used
                to decorate our application. We admit that we are not authors of any of picture in our product. In the name of European Copyright
                Law we are exempt from payment for using any of these assets as long as this project will be just noncommercial result of the work
                we’ve done during BOOTCAMP .NET/C# training.
            </span>
            <hr/>
        </div>
    </div>
    <div class="col-3"></div>

</div>