@{
    ViewData["Title"] = "404 - Not found";
}
<div style="width: 100%; height: 100%; padding: 0px; margin: 0px;">
    <img class="static-image-not-dragable" src="~/images/404NotFoundGraphic.jpg" height="100%" width="100%"/>
</div>