@{
    ViewData["Title"] = "404 - Not found";
}

<style>
    .error-404-card {
        background-image: url("/Images/404NotFoundGraphic.jpg");
        background-repeat: no-repeat;
        background-attachment: inherit;
        background-size: 80% auto;
        background-position: center top;

        display: block;
        width: 100%;
        height: 800px;
    }
</style>

<div class="error-404-card"></div>