@{
    ViewData["Title"] = "500 - internal server error";
}

<style>
    .error-500-card {
        background-image: url("/Images/500ErrorGraphic.jpg");
        background-repeat: no-repeat;
        background-attachment: inherit;
        background-size: 80% auto;
        background-position: center top;

        display: block;
        width: 100%;
        height: 800px;
    }
</style>

<div class="error-500-card"></div>