@{
    ViewData["Title"] = "Home Page";
}

<div class="cover-container flex-fill d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="text-center bg-dark">
        <h1 class="display-4">Welcome</h1>
        <p>Are you lost wizard?</p>

    </div>
</div>

