@{
    ViewData["Title"] = "Wizards Home";
}

<head>
    <style>
        .welcome-card {
            background-image: url("/Images/Tapeta-3.jpg");
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-size:contain;
            width: 100%;
            height: 750px;
        }
    </style>
</head>
<div class="welcome-card col-12">
    <div class="text-center">
        <br /><br />
        <h1 class="font-weight-bolder">Welcome Adventurer!</h1>
        <br />
        <h3 class="font-weight-bolder">Do you want to become Wizard?</h3>
        <br />
    </div>
</div>