@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .dupa {
            background-image: url("/Images/Tapeta-3.jpg");
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-size: contain;
            height: 650px;
        }
    </style>
</head>
<div class="dupa col-12">
    <div class="text-center text-black">
        <br /><br />
        <h1 class="font-weight-bolder">Welcome Adventurer!</h1>
        <br />
        <h3 class="font-weight-bolder">Do you want to become Wizard?</h3>
        <br />
    </div>
</div>


