@{
    ViewData["Title"] = "Home Page";
}


<head>
    <style>
        body {
            background-image: url("/Images/Tapeta-3.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .dupa {
            background-image: url("/Images/Tapeta-3.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

    </style>
</head>

<body>
    <div class="cover-container flex-fill d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="dupa">
            <div class="text-center">


                <h1 class="display-4">Welcome</h1>
                <p>Are you lost wizard?</p>
            </div>
        </div>


    </div>
</body>


