/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

/* Custom buttons
-------------------------------------------------- */

/* General declaration of game button */
.gbtn {
    display: inline-block;
    user-select: none;
    margin: 0px;
    padding: 8px 20px;
    background-image: url(/GraphicAssets/Buttons/game-btn-action.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    border-radius: 2px;
    border: none;

    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    filter: brightness(100%);
}

    /* extension of general game button class for behaviors */
    .gbtn:hover {
        cursor: pointer;
        color: white;
        filter: brightness(130%);
        text-decoration: none;
    }

    .gbtn:active {
        cursor: pointer;
        color: white;
        filter: brightness(60%);
        text-decoration: none;
    }

/* special disabled class */
.gbtn-disabled {
    color: white;
    pointer-events: none;
    filter: grayscale(1) brightness(110%) contrast(40%);
}

/* sizing classes sm => small  lg => large*/
.gbtn-sm {
    margin: 0px;
    padding: 5px 12px;
    font-size: 90%;
}

.gbtn-lg {
    margin: 0px;
    padding: 12px 28px;
    font-size: 120%;
}

/* formating background classes for different occasions */
.gbtn-action {
    background-image: url(/GraphicAssets/Buttons/game-btn-action.png);
    color: white;
}

.gbtn-accept {
    background-image: url(/GraphicAssets/Buttons/game-btn-accept.png);
    color: white;
}

.gbtn-danger {
    background-image: url(/GraphicAssets/Buttons/game-btn-danger.png);
    color: white;
}

.gbtn-magical {
    background-image: url(/GraphicAssets/Buttons/game-btn-premium.png);
    color: white;
}

.gbtn-premium {
    background-image: url(/GraphicAssets/Buttons/game-btn-magical.png);
    color: white;
}

.gbtn-technical {
    background-image: url(/GraphicAssets/Buttons/game-btn-technical.png);
    color: white;
}

.bg-brown {
    background-color: #482100;
}

.bg-leather {
    background-color: #291500;
}

.bg-paper-color {
    background-color: #ffefd8;
    background-image: url(/GraphicAssets/Textures/bg-paper.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.bg-paper-header {
    background-color: #ffe0a3;
    background-image: url(/GraphicAssets/Textures/bg-paper-header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-golden-dark {
    color: #a47c01;
}

.static-image-not-dragable {
    pointer-events: none;
    user-select: none;
}

.select-blocked {
    user-select: none;
}