@using Wizards.Core.Model.WorldModels.Properties.Enums
@using Wizards.Core.Model.WorldModels.Enums
@model WizardsWeb.ModelViews.CombatModelViews.CombatStageModelView

<div class="col-12 text-center bg-paper py-2 h4">@Model.EnemySection.Name</div>
<div class="col-12 participant-container">
    
    @{
        var imgAddress = $"BossesCards/{Model.EnemySection.AvatarImageNumber}-Manticora.png";
        <img class="not-dragable-image" src="~/Images/Bosses/@(Model.EnemySection.Name.Replace(" ", "-")).png" width="100%" height="100%">
    }
    
    @if (Model.EnemySection.IsStunned)
    {
        <div class="round-results-info-text stunned-participant-text">STUNNED</div>
    }

    @if (Model.LastRoundResult.EnemyCombatStatus == EnemyCombatStatus.Countered && !Model.WasResultShown)
    {
        <div class="round-results-info-text boss-countered-text">COUNTERED</div>
    }

    @if (Model.LastRoundResult.EnemyCombatStatus == EnemyCombatStatus.Blocked && !Model.WasResultShown)
    {
        <div class="round-results-info-text boss-blocked-text">BLOCKED</div>
    }
    
    @if (!Model.WasResultShown)
    {
        <div class="round-results-info-text on-boss-damage-text">@Model.LastRoundResult.EnemyDamageTaken</div>
    }
    
    @if (Model.LastRoundResult.EnemyHealthRecovered > 0 && !Model.WasResultShown)
    {
        <div class="round-results-info-text boss-heal-text">@Model.LastRoundResult.EnemyHealthRecovered</div>
    }
    
    @if (Model.EnemySection.SelectedSkillType == EnemySkillType.Charge)
    {
        <img class="enemy-skill-icon" src="~/GraphicAssets/BattleGui/enemy-charge.png">
    }
    else if (Model.EnemySection.SelectedSkillType == EnemySkillType.Deadly)
    {
        <img class="enemy-skill-icon" src="~/GraphicAssets/BattleGui/enemy-deadly.png">
    }
    else if (Model.EnemySection.SelectedSkillStunning)
    {
        <img class="enemy-skill-icon" src="~/GraphicAssets/BattleGui/enemy-stunning.png">
    }
</div>

<div class="col-12 text-center" style="color: #ffffff;">
    EXIT BUTTON
</div>
