@using Wizards.Core.Model.WorldModels.Enums
@model WizardsWeb.ModelViews.CombatModelViews.CombatStageModelView

@if (Model.Status == StageStatus.ConcludedEnemyWins || Model.Status == StageStatus.ConcludedHeroWins)
{
    var victoryOrDeath = "";
    if (Model.Status == StageStatus.ConcludedEnemyWins)
    {
        victoryOrDeath = "failed";
    }
    if (Model.Status == StageStatus.ConcludedHeroWins)
    {
        victoryOrDeath = "victory";
    }

    <audio id="Famfare" autoplay="true">
        <source src="Sound/Match-@(victoryOrDeath).mp3">
    </audio>
    <div class="concluded-match-container">
        <img class="match-result static-image-not-dragable" src="GraphicAssets/BattleGui/Conclude-@(victoryOrDeath).png" width="100%" height="100%"/>
        

        @if (Model.Status == StageStatus.ConcludedHeroWins)
        {
            <div class="claimed-rewards">
                <span style="font-weight: bold; font-size: 35px">Claimed Rewards</span>
                <hr/>
                @if (!Model.IsTraining)
                {
                    <span class="reward-text">Gold: @Model.EnemySection.GoldReward</span>
                    <br/>
                    <span class="reward-text">Rank Points: @Model.EnemySection.RankPointsReward</span>
                }
                else
                {
                    <span class="reward-text">There is no rewards for training match</span>
                }
                <hr/>
            </div>
        }
    </div>

    <script>
        function audioVolume() {
            document.getElementById("Famfare").volume = 0.25;
        }
        window.onload = audioVolume;
    </script>
}