@using WizardsWeb.Extensions
@model WizardsWeb.ModelViews.CombatModelViews.HeroSectionModelView

<div class="col-8 py-3 px-0">
    <div class="hp-bar hp-bar-hero">
        <div class="hp-bar-content">
            <img class="hp-bar-health" src="~/GraphicAssets/BattleGui/hp-bar-health.png">
            <div class="hp-bar-empty-bg"  style="width: @Model.HealthLostPercent();"></div>
            <div class="hp-bar-label">@Model.CurrentHealth / @Model.MaxHealth</div>
        </div>
        <img class="hp-bar-freme" src="~/GraphicAssets/BattleGui/hp-bar-freme-hero.png">
    </div>
</div>