@using WizardsWeb.ModelViews.RankingModelViews
@model WizardsWeb.ModelViews.RankingModelViews.RankingModelViews


@{
    ViewData["Title"] = "Index";
}


<div class="panel-body">
    <partial name="_Details" model="Model"/>
</div>



@*@section Scripts
{
    <script src="~/css/style.css"></script>
    <script src="~/js/datatable.js"></script>
}*@

@section Scripts{
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable()
        }
        });
    </script>
}

