@using WizardsWeb.ModelViews.RankingModelViews
@model WizardsWeb.ModelViews.RankingModelViews.RankingModelViews


@{
    ViewData["Title"] = "SearchByUserName";
}

<p>
    <a asp-action="Index">Back</a>
</p>

<div class="panel-body">
    <partial name="_Details" model="Model"/>
</div>

