@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WizardsWeb.ModelViews.PlayerModelViews.PlayerDetailsModelView

<h2>@Model.UserName</h2>
<h4>Player account</h4>
<a class="btn btn-primary" asp-action="Edit">Edit Player's Profile</a>
<hr />
<div class="row">
    <div class="col-12">
        <label asp-for="UserName" class="font-weight-bold"></label>
    </div>
    <div class="col-12">
        <label>@Model.UserName</label>
    </div>
    <div class="col-12">
        <label asp-for="Email" class="font-weight-bold"></label>
    </div>
    <div class="col-12">
        <label>@Model.Email</label>
    </div>
    <div class="col-12">
        <label asp-for="DateOfBirth" class="font-weight-bold"></label>
    </div>
    <div class="col-12">
        <label>@Model.DateOfBirth.Date.ToString("d")</label>
    </div>
</div>