@model Wizards.BusinessLogic.Player

<h3>Edit Player's Profile</h3>
<h5>@Model.UserName</h5>
<a asp-action="Details" asp-route-id="@Model.Id">Back To Details</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <a class="btn-primary" asp-action="EditPassword" asp-route-id="@Model.Id">Edit Password</a>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" hidden="true"/>
                <input asp-for="Password" hidden="true"/>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control"/>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <br/><hr/><br/>
    <a class="btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete Account</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
