@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle Stage</title>

    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="ResultsTextStyles.css">
    <link rel="stylesheet" href="HealthBarsStyles.css">
    <link rel="stylesheet" href="EnemyActionIcons.css">
    <link rel="stylesheet" href="SkillBar.css">
    <link rel="stylesheet" href="LogTable.css">
    <link rel="stylesheet" href="PopUps.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet"/>
</head>

@RenderBody()

</html>