@model WizardsWeb.ModelViews.ExplorationModelViews.BattleStageModelView

<body class="bg-arena not-selectable" 
      style="background-image: url(ArenaBackground/Arena-2.jpg);">
    <div class="col-12 p-4">
        <div class="row">

            <!-- HERO Left Section -->
            <div class="col-1 p-1" style="width: 420px;">
                
            </div>

            <!-- REPORT/ACTIONS Center Section -->
            <div class="col p-1">
                
            </div>

            <!-- ENEMY Right Section -->
            <div class="col-1 p-1" style="width: 477px;">

            </div>
        </div>
    </div>
</body>